.btnLog{
    position: relative;
    left: 70%;
    width: 180px;
    height: 40px;
    font-size: 25px;
    text-align: center;
}


.Perfil{
    position: relative;
    left: 2%;
    width: 200px !important;
    height: 200px !important;
    margin-left: 3%!important;
  }
  