.App {
  position: absolute;
  text-align: center;
  background-image: url('Image/fondo.jpg') !important;
  height: 100% !important;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  width: 100%;
  height: 12% !important;
  font-size: 50px;
  background-color: darkslategrey;
  color: white;
  text-align: left;
  padding-left: 2%;
  font-family: 'Tw Cen MT';
}

.App-link {
  color: #61dafb;
}

.Usuario{
  position: absolute;
  top: 12%;
  width: 96%;
  height: 88%;
  background-color: white;
  text-align: center;
  font-size: 25px;
  color: brown; /*cambiar este color*/
  font-family: 'Tw Cen MT';
  -webkit-box-shadow: 4px 16px 38px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 16px 38px -6px rgba(0,0,0,0.75);
  box-shadow: 4px 16px 38px -6px rgba(0,0,0,0.75);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
