.App {
  position: absolute;
  text-align: center;
  background-image: url('Image/fondo.jpg') !important;
  height: 100% !important;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  width: 100%;
  height: 80px !important;
  font-size: 50px;
  background-color: darkslategrey;
  color: white;
  text-align: left;
  padding-left: 2%;
  font-family: 'Tw Cen MT';
}

.App-link {
  color: #61dafb;
}

.Usuario{
  text-align: center;
  font-size: 25px;
  color: brown;
}

.salida{
  position: absolute;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
